html, body{ height:100%; margin:0; }

*{
    font-family: roboto, sans-serif;
    margin: auto;
}
  
.wrapper{
    min-height: 100%;
    margin-bottom: -100px;
}

header{
    padding: 0.8%;
    background-color: white;
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    height: 10%;
}

.menu {
    color: coral;
    box-sizing: border-box;
    border-color: coral;
    background-color: white;
    border-style: solid;
    border-width: 1.5px;
    border-radius: 50px;
    text-decoration: none;
    width: 22%;
    padding: 0.5% 2%;
    margin: 0.5% 5%;
    box-sizing: border-box;
    float:left;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.menu:hover{
    color: white;
    background-color: coral;
}

.banner {
    position: relative;
    z-index: -4;
    left: 6%;
    margin-top: 8%;
    width: 55%;
}

.banner-background{
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 80%;
    z-index: -5;
    background-color: rgba(255, 127, 80, 0.466);
}

h1{
    font-family: bebas neue, sans-serif;
    font-size: 550%;
    text-align: right;
    position: absolute;
    top: 65%;
    right: 10%;
    z-index: -1;
}

.contact {
    position: fixed;
    bottom: 0%;
    right: 0%;
    box-sizing: border-box;
    height: 10%;
}


.content {
    position: relative;
    margin: 8%;
    text-align: justify;
    font-size: 110%;
}

.footer, .push{
    height: 100px;
    width: 100%;
    bottom: 0; 
    z-index: -4;
    background-color: rgba(128, 128, 128, 0.212)
}

.copyright {
    text-align: center;
    padding: 35px;
}

.icon {
    height: 1%;
    width: 1%;
    transform: translate(0%,30%);
}